<!DOCTYPE html>
<html lang="en">

<head>
  
    <meta charset="utf-8" />
    <title>@ViewData["Title"] | TRAINING</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Population Based Impact Survey Integration application" name="description" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/public/assets/images/favicon.ico">

    @RenderSection("Styles", required: false)
    <style>
        .country_card:hover{
            background-color: #003032;
        }
        .country_card:hover .abbrev {
            color : white
        }
        body[data-layout-mode="dark"] .country_card:hover {
            background-color: white;
        }
        body[data-layout-mode="dark"] .country_card:hover .abbrev {
            color : #003032
        }
        .required:after {
            content:" *";
            color: red;
        }
        #timer{
            font-weight: bolder;
        }
    </style>
    <!-- Bootstrap Css -->
    <link rel="stylesheet" type="text/css" href="~/public/assets/css/bootstrap.min.css" id="bootstrap-style" />
    <!-- Icons Css -->
    <link rel="stylesheet" type="text/css" href="~/public/assets/css/icons.min.css" />
    <!-- App Css-->
    <link rel="stylesheet" type="text/css" href="~/public/assets/css/app.min.css" id="app-style" />
    <!--Datatables-->
    <link rel="stylesheet" type="text/css" href="~/lib/datatables/datatables.css"/>
</head>

<body data-layout="horizontal" data-topbar="dark">

    <!-- Begin page -->
    <div id="layout-wrapper">

        <partial name="./Partials/Topbar" />
        <partial name="./Partials/Sidebar" />
        <partial name="./Partials/Horizontal" />

        <div class="main-content">
            <div class="page-content">
                <div id="project-alert-palceholder"></div>
                <div class="container-fluid">
                @RenderBody()

                </div>
            </div>
            <partial name="./Partials/Footer" />
        </div>
    </div>

    
    @* <partial name="./Partials/Rightbar" /> *@
    <script src="~/public/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/public/assets/libs/metismenujs/metismenujs.min.js"></script>
    <script src="~/public/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="~/public/assets/libs/feather-icons/feather.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    @*  remove *@
    <script type="text/javascript" src="~/lib/datatables/datatables.min.js"></script>
    @* <%- FooterJs %> *@

    <script>
        sessionStorage.setItem("is_visited", "layout-direction-ltr");
        $(document).ready(function(){             
                
            if(Cookies.get("PHIASpace.Project") === null || Cookies.get("PHIASpace.Project") === undefined){  
                alert('The project you selected has expired, you will be redirected in <span id="timer">5</span> seconds', 'info'); 
                countdown();
                setTimeout(function(){
                    Cookies.remove("PHIASpace.Project");
                    location.href = '@Url.Action("RedirectToCore", "Account")';
                }, 5000); 
            }
            else{
                $(".project-link").text(Cookies.get("PHIASpace.Project"));
            }            
            $('#module-topnav-project').click(function(){
                Cookies.remove("PHIASpace.Project");
                //redirect to core through the api
                location.href = '@Url.Action("RedirectToCore", "Account")';                
            });        
        });

        var alertPlaceholder = $('#project-alert-palceholder');        

        function alert(message, type) {
            var wrapper = document.createElement('div');
            wrapper.innerHTML = '<div class="alert alert-' + type + ' alert-dismissible" role="alert">' + message + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>';

            alertPlaceholder.append(wrapper);
        }

        function updateTimer(count) {
            $('#timer').text(count);
        }

        var count = 5;
        function countdown() {
            updateTimer(count);
            if (count === 0) {
                return;
            }
            count--;
            setTimeout(countdown, 1000);
        }
    </script>

    <script src="~/public/assets/js/app.js"></script>

    @RenderSection("Scripts", required: false)
</body>

</html>