@{
    var currentController = ViewContext.RouteData.Values["Controller"]?.ToString();
    bool isDMDashboardOrAIssue = currentController == "DMDashboard" || currentController == "AIssue";
}

@if (isDMDashboardOrAIssue)
{
    <!--<li><a class="text-center collapsed" data-toggle="collapse" data-target="#navbar-second-toggle"><i class="icon-menu7"></i></a></li>-->
    @*<li><a href="@Url.Action("DataMonitor", "DMDash")">Monitor Data</a></li>*@
    <li><a href="@Url.Action("MonitorProcess", "DMDashboard")">Monitor Process</a></li>
    <li><a href="@Url.Action("LineListing", "DMDashboard")">Line Listing</a></li>
    <li><a href="@Url.Action("Manage", "AIssue")">Data Tickets</a></li>
    <li><a href="@Url.Action("GetEaSummary", "DMDashboard")">Summary Check</a></li>
}
