@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@model CourseModel
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
}
@{
    ViewData["Title"] = "Course";
}
<div class="page-title-box d-flex align-items-center justify-content-between">
    <div class="page-title-right">
        <ol class="breadcrumb m-0">
            <li class="breadcrumb-item"><a asp-controller="Course" asp-action="Index">@localizer["Courses"]</a></li>
            <li class="breadcrumb-item active">@localizer["Add Course"]</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">                
                <div class="row">
                    <div class="col-sm-8">
                        <div class="search-box me-2 d-inline-block">
                            <div class="position-relative">
                                <h4 class="card-title">@localizer["Course"]</h4>
                                <p class="card-title-desc">@localizer["Add a new course"]</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end card header -->
            <div class="card-body">
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input type="hidden" asp-for="Id">
                    <div class="mb-3 row">
                        <label asp-for="CourseName" class="col-md-2 col-form-label">@localizer["Course name"]</label>
                        <div class="col-md-10">
                            <input class="form-control" type="text" asp-for="CourseName" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label asp-for="Description" class="col-md-2 col-form-label"></label>
                        <div class="col-md-10">
                            <input class="form-control" type="search" asp-for="Description">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label asp-for="CertificateType" class="col-md-2 col-form-label"></label>
                        <div class="col-md-10">
                            <select asp-for="CertificateType" class="form-select" asp-items="ViewBag.CertificateTypes" required>
                                <option value="">Select</option>
                            </select>
                        </div>
                    </div> 
                    <div class="mb-3 row">
                        <label asp-for="ValidityPeriod" class="col-md-2 col-form-label">@localizer["Validity Period (Months)"]</label>
                        <div class="col-md-10">
                            <input class="form-control"  asp-for="ValidityPeriod">
                        </div>
                    </div>    
                    <div class="mb-3 row">
                        <label asp-for="ThematicAreaId" class="col-md-2 col-form-label"></label>
                        <div class="col-md-10">
                            <select asp-for="ThematicAreaId" class="form-select" asp-items="ViewBag.ThematicArea" required>
                                <option value="">Select</option>
                            </select>
                        </div>
                    </div>    
                    <div class="mb-3 row">
                        <label asp-for="DurationDays" class="col-md-2 col-form-label">@localizer["Course Duration (Days)"]</label>
                        <div class="col-md-10">
                            <input class="form-control"  asp-for="DurationDays">
                        </div>
                    </div>    
                    <div class="mb-3 row">
                        <label asp-for="PassScore" class="col-md-2 col-form-label">@localizer["Pass Score"]</label>
                        <div class="col-md-10">
                            <input class="form-control"  asp-for="PassScore">
                        </div>
                    </div>    
                    <div class="card-footer">
                        <a asp-controller="Course" asp-action="Index" class="btn btn-primary float-start"> <i class="mdi mdi-arrow-left-bold-outline text-white font-size-16"></i>Cancel</a>
                        <button type="submit" class="btn btn-primary float-end">Submit  <i class="mdi mdi-arrow-right-bold-outline text-white font-size-16"></i></button>
                    </div>
                </form>
            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
</div>

@section Styles{
    
}

@section Scripts{
    
}