@*<li><a href="@Url.Action("DataMonitor", "DMDash")">Monitor Data</a></li>*@
<li><a href="@Url.Action("MonitorProcess", "DMDashboard")">Monitor Process</a></li>
<li><a href="@Url.Action("LineListing", "DMDashboard")">Line Listing</a></li>
<li><a href="@Url.Action("Manage", "AIssue")">Data Tickets</a></li>
<li><a href="@Url.Action("GetEaSummary", "DMDashboard")">Summary Check</a></li>
@*<li><a href="@Url.Action("ProjectCompletion", "DMDash")">Completion</a></li>*@
